! --- Deployment for Tunnel {{ tunnel_id }} ---
! Logic: IKEv{{ ike_version }}, Mode: {{ vpn_mode }}

{% if ike_version | string == "2" %}
crypto ikev2 keyring KEYRING_T{{ tunnel_id }}
 peer PEER_T{{ tunnel_id }}
  address {{ remote_peer_ip }}
  pre-shared-key {{ vpn_psk }}
crypto ikev2 profile PROFILE_T{{ tunnel_id }}
 match identity remote address {{ remote_peer_ip }} 255.255.255.255
 authentication remote pre-share
 authentication local pre-share
 keyring local KEYRING_T{{ tunnel_id }}
{% endif %}

{% if vpn_mode | string == "route_based" %}
interface Tunnel{{ tunnel_id }}
 description **** {{ tunnel_desc }} ****
 ip address {{ tunnel_local_ip }} 255.255.255.252
 tunnel source GigabitEthernet1
 tunnel destination {{ remote_peer_ip }}
 tunnel mode ipsec ipv4
 tunnel protection ipsec profile IPSEC_PROF_T{{ tunnel_id }}
{% endif %}
