! --- IKEv2 Logic ---
crypto ikev2 keyring KEYRING_T{{ tunnel_id }}
 peer PEER_T{{ tunnel_id }}
  address {{ remote_peer_ip }}
  pre-shared-key {{ vpn_psk }}

crypto ikev2 profile PROFILE_T{{ tunnel_id }}
 match identity remote address {{ remote_peer_ip }} 255.255.255.255
 authentication remote pre-share
 authentication local pre-share
 keyring local KEYRING_T{{ tunnel_id }}
 lifetime 28800
 dpd 10 5 on-demand

! --- IPsec & Interface ---
crypto ipsec profile IPSEC_PROF_T{{ tunnel_id }}
 set transform-set AES256-SHA256
 set pfs group20
 set ikev2-profile PROFILE_T{{ tunnel_id }}

interface Tunnel{{ tunnel_id }}
 description **** {{ tunnel_desc }} ****
 ip address {{ tunnel_local_ip }} 255.255.255.252
 tunnel source {{ wan_interface }}
 tunnel mode ipsec ipv4
 tunnel destination {{ remote_peer_ip }}
 tunnel protection ipsec profile IPSEC_PROF_T{{ tunnel_id }}
 ip tcp adjust-mss 1370

! --- Routing & BGP ---
ip route {{ remote_peer_ip }} 255.255.255.255 {{ local_gateway }} name WAN_ROUTE_T{{ tunnel_id }}

router bgp {{ local_asn }}
 neighbor {{ bgp_neighbor_ip }} remote-as {{ remote_asn }}
 neighbor {{ bgp_neighbor_ip }} description BGP_TO_{{ tunnel_desc }}
 neighbor {{ bgp_neighbor_ip }} update-source Tunnel{{ tunnel_id }}
 address-family ipv4
  neighbor {{ bgp_neighbor_ip }} activate
 exit-address-family
