! --- Modular Config Additive ---
hostname {{ hostname | default(inventory_hostname) }}

! [ SECTION: IKE LOGIC ]
{% if ike_version | default('2') == "2" %}
crypto ikev2 keyring KEYRING_T{{ tunnel_id | default('999') }}
 peer PEER_T{{ tunnel_id | default('999') }}
  address {{ remote_peer_ip | default('1.1.1.1') }}
  pre-shared-key {{ vpn_psk | default('Cisco123') }}
!
crypto ikev2 profile PROFILE_T{{ tunnel_id | default('999') }}
 match identity remote address {{ remote_peer_ip | default('1.1.1.1') }} 255.255.255.255
 authentication remote pre-share
 authentication local pre-share
 keyring local KEYRING_T{{ tunnel_id | default('999') }}
{% else %}
crypto isakmp key {{ vpn_psk | default('Cisco123') }} address {{ remote_peer_ip | default('1.1.1.1') }}
{% endif %}

! [ SECTION: IPSEC PROFILE ]
crypto ipsec profile IPSEC_PROF_T{{ tunnel_id | default('999') }}
 set transform-set {{ transform_set | default('AES256-SHA256') }}
 {% if ike_version | default('2') == "2" %}
 set ikev2-profile PROFILE_T{{ tunnel_id | default('999') }}
 {% endif %}

! [ SECTION: INTERFACE ]
{% if vpn_mode | default('route_based') == "route_based" %}
interface Tunnel{{ tunnel_id | default('999') }}
 description **** {{ tunnel_desc | default('NEW_TUNNEL') }} ****
 ip address {{ tunnel_local_ip | default('169.254.1.1') }} 255.255.255.252
 tunnel source {{ wan_interface | default('GigabitEthernet1') }}
 tunnel destination {{ remote_peer_ip | default('1.1.1.1') }}
 tunnel protection ipsec profile IPSEC_PROF_T{{ tunnel_id | default('999') }}
{% endif %}

! [ SECTION: BGP ]
{% if enable_bgp | default('false') == "true" %}
router bgp {{ local_asn | default('398957') }}
 neighbor {{ bgp_neighbor_ip }} remote-as {{ remote_asn }}
 neighbor {{ bgp_neighbor_ip }} activate
{% endif %}
